name: earth_haven
description: "A new Flutter project."
publish_to: 'none' # Remove this line if you wish to publish to pub.dev

version: 1.0.0+1

environment:
  sdk: ^3.5.1

dependencies:
  flutter:
    sdk: flutter
  cupertino_icons: ^1.0.6
  hexcolor: ^3.0.1
  font_awesome_flutter: ^10.5.0
  bloc: ^8.1.1
  flutter_bloc: ^8.1.2
  conditional_builder_null_safety: ^0.0.6
  smooth_page_indicator: ^1.2.0+3
  dio: ^5.4.0
  fluttertoast: ^8.2.4
  carousel_slider: ^5.0.0
  percent_indicator: ^4.2.3
  hive: ^2.2.3
  hive_flutter: ^1.1.0
  go_router: ^14.2.2
  dartz: ^0.10.1
  firebase_core: ^3.3.0
  firebase_storage: ^12.1.3
  cloud_firestore: ^5.2.1
  image_picker: ^1.0.2
  get_it: ^7.7.0
  firebase_auth: ^5.1.4
  firebase_messaging: ^15.0.4
  shimmer: ^3.0.0
  google_sign_in: ^6.2.1
  flutter_launcher_icons: ^0.13.1
  animate_do: ^3.3.4
  animations: ^2.0.11
  flutter_chat_ui: ^1.6.15
  uuid: ^4.5.0
  loading_animation_widget: ^1.2.1

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^4.0.0
  hive_generator: ^2.0.0
  build_runner: ^2.3.3

# For information on the generic Dart part of this file, see the
# following page: https://dart.dev/tools/pub/pubspec

# The following section is specific to Flutter packages.
flutter:

  # The following line ensures that the Material Icons font is
  # included with your application, so that you can use the icons in
  # the material Icons class.
  uses-material-design: true
  assets:
    - assets/icons/
    - assets/images/
    - assets/onboarding/

  # To add assets to your application, add an assets section, like this:
  # assets:
  #   - images/a_dot_burr.jpeg
  #   - images/a_dot_ham.jpeg

  # An image asset can refer to one or more resolution-specific "variants", see
  # https://flutter.dev/to/resolution-aware-images

  # For details regarding adding assets from package dependencies, see
  # https://flutter.dev/to/asset-from-package

  # To add custom fonts to your application, add a fonts section here,
  # in this "flutter" section. Each entry in this list should have a
  # "family" key with the font family name, and a "fonts" key with a
  # list giving the asset and other descriptors for the font. For
  # example:
  # fonts:
  #   - family: Schyler
  #     fonts:
  #       - asset: fonts/Schyler-Regular.ttf
  #       - asset: fonts/Schyler-Italic.ttf
  #         style: italic
  #   - family: Trajan Pro
  #     fonts:
  #       - asset: fonts/TrajanPro.ttf
  #       - asset: fonts/TrajanPro_Bold.ttf
  #         weight: 700
  #
  # For details regarding fonts from package dependencies,
  # see https://flutter.dev/to/font-from-package
